nav {
  background-color: #2F4F4F;
}

body{
  background-image: url("../images/coffee.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 75%;
  background-size: cover;
}

.colorRed{
  color:red;
}

h6 {
  color: white;
  position:absolute;
  left: 75%;
  top: 75%;
}

input[type=text], select {
    padding: 12px 20px;
    margin: 5px 0;
    display: flex;
    border: 1px solid #ccc;
    /*border-radius: 4px;*/
    box-sizing: border-box;
}

button[type=button] {
    background-color:#2F4F4F;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type=button]:hover {
    background-color: red;
}

.news {
  float:left;
  padding: 20px;
  position: 50%;
}

.allNews{
  float:left;
  padding: 20px;
}

.weather {
    float:left;
    padding: 20px;
}

.whiteFont {
  color:white;
}

.labelForInput{
  font-size: 24px;
  font-style: italic;
  color: white;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.row {
  margin-top: 5%;
  width: 100%
}

.button {
  width:300px;
}
