nav {
  background-color: #2F4F4F;
}

body{
  background-image: url("../images/coffee.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 75%;
  background-size: cover;
}
h5{
  text-align: center;
  color:white;
  font-style: italic;
}
h6 {
  text-align: center;
  color: white;
  margin-top: 2%;
}

hr {
  border-style: inset;
  border-width: 5px;
}

.colorRed{
  text-align: center;
  color:red;
}

.news {
  float:left;
  padding: 20px;
}

.allNews{
  float:right;
  padding: 20px;

}

.weather {
  float:left;
  padding: 20px;
}

.whiteFont {
  color:white;
}

.labelForInput{
  font-size: 20px;
  font-style: italic;
  color: white;
}

.button {
  display:block;
  text-align: center;
}

.content{
  margin-top: 100%;
}

section{
  margin-top: 50px;
}
